{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="news col-md-8">
            published: {{ post.published_date }}
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="btn-group" role="group">
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-info">Read more</a>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Comments: {{ post.comments.count }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}